*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}


.container{
    width: 100vw;
    height: 100vh;
    background-color:white;
    display: flex;
    justify-content: center;
    align-items: center;

}

#corpo{
    width: 520px;
    height: 400px;
    background-color:rgb(46, 33, 105);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 8px;
}

.visorBorda{
    position: relative;
    bottom: 20px ;
    width: 100%;
    padding: 16px;
    border-radius: 4px;
    background-color: seashell;

}
/* .visorBorda div{
    background-color: blanchedalmond;
    border-radius: 4px;
    width: 60%;
    padding: 10px;
    fo
} */

.btn{
    position: relative;
    left: 7px;
    top: 10px;
    background-color: rgb(222, 229, 238);
    color:black;
    padding: 15px 30px;
    width: 80px;
    border: none;
    font-size: 20px;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    margin: 5px;
    transition: opacity 0.3;
}

.btn:hover{
    opacity: 0.8;
}