*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}


.container{
    width: 100vw;
    height: 100vh;
    background-color:white;
    display: flex;
    justify-content: center;
    align-items: center;

}

#corpo{
    width: 520px;
    height: 400px;
    background-color:#FFB0AD;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 8px;
}

.visorBorda{
    position: relative;
    bottom: 20px ;
    width: 100%;
    padding: 30px;
    border-radius: 4px;
    background-color:#B0ABB0;
    box-shadow: inset 1px 5px 6px -2px;

}
/* .visorBorda div{
    background-color: rgb(224, 113, 187);
    border-radius: 4px;
    height: 30px;
    width: 60%;
    padding: 10px;
    box-shadow: inset 1px 5px 6px -2px;
    
} */

.btn{
    position: relative;
    left: 7px;
    top: 10px;
    background-color: #cd8985;
    color:white;
    padding: 15px 30px;
    width: 80px;
    border: none;
    font-size: 20px;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    margin: 5px;
    box-shadow: 0px -3px 2px ;
    transition: opacity 0.3;
}
.redondo{
    border-radius: 90px;
    background-color: #6486B0;
    padding: 10px;

}

.btn:hover{
    opacity: 0.8;
}
#resultado {
    width: 55%;
}